@charset "UTF-8";

/* :root:{
	
	--black-color : #000000;
} */
/* 회원가입 폼 */
body {
	background-color: #f5f5f5;
}

section {

	padding-top: 200px;
	margin: 0;
}

main {
	width: 100%;
	max-width: 400px;
	margin: auto;
}

form {
	display: block;
}

.join_title{
	text-align: center;
	margin-bottom: 1em;
}

.join_check{
	font-size: 1.3rem;
}

.join_box2 {
	font-size: 1.8rem;
	padding: .8em;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .4em;
}

.join_box {
	display: block;
	padding-top: .6em;
}

.join_button {
	width: 35%;
	display: inline;
	padding: .3em;
	border-radius: .4em;
	font-size: 1.8rem;
	background-color: #ffca28;
	align-items: center;
	margin: .4em;
}

.join_button2{
	text-align: center;
}