:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;

  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-dark-gray: #4d4d4d;

  --color-black: #000000;

  --color-yellow: #f5c336;
  --color-dark-yellow: #de9426;
  --color-orange: #fa812b;

  --color-blue: #3660f5;
  --color-red: #f53953;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight*/
  --weight-black: 900;
  --weight--bold: 700;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thin: 100;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-black);
  color: var(--color-black);
  margin: 16px 0;
  /* 위아래/ 양옆 //시계방향*/
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-black);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-black);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
  background-color: var(--color-light-white);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
  box-shadow: none;
}


/* Nav bar */
#navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--color-black);
  background-color: var(--color-yellow);
}
.navbar__logo {
  margin: 18px;
}

.navbar__menu,
.navbar__sidemenu {
  display: flex;
}

.navbar__menu__item {
  padding: 4px 12px;
  font-size: var(--font-regular);
  font-weight: var(--weight--bold);
}

.navbar__sidemenu__item {
  padding: 4px 12px;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

.navbar__mainmenu__item:hover,
.navbar__sidemenu__item:hover {
  background-color: var(--color-dark-yellow);
  border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  position: absolute;
  top: 12px;
  right: 4px;
  width: 36px;
  height: 36px;
  display: none;
}

/* loinForm */
.login {
  max-width: 420px;
  margin: auto;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
}
.login__header {
  margin-top: 180px;
    text-align: center;
  margin-bottom: 24px;
}

.login__bottom {
  display: flex;
  justify-content: space-between;
}
.login__find,
.login__join {
  border: 1px solid var(--color-light-white);
  border-radius: var(--size-border-radius);
  margin: 4px 0;
  font-size: var(--font-micro);
  font-weight: var(--weight-thin);
}

.login input {
  width: 100%;
  padding: 14px;
  margin-bottom: 8px;
}
.login__btn {
  width: 100%;
  margin: 8px 0px 4px 0px;
  padding: 8px 0;
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight--bold);
}

/* registerForm */
.join {
  max-width: 420px;
  margin: auto;
  padding-top: 120px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.join__header {
  margin-top: 180px;
    text-align: center;
  margin-bottom: 24px;
}

.join__box > span {
  font-size: var(--font-micro);
  font-weight: var(--weight-thin);
}

.join__box > input {
  width: 100%;
  padding: 14px;
  margin: 16px 0px 2px;
}

.join__agre {
  margin: 24px 0;
}

.join__check {
  margin-top: 12px;
  margin-bottom: 6px;
}
.join__check > a {
  position: absolute;
  right: 38px;
  text-align: right;
  color: var(--color-gray);
}

.join__btns {
  text-align: center;
}
.join__btn {
  background-color: var(--color-yellow);
  border-radius: var(--size-border-radius);
  width: 47%;
  padding: 8px 0;
  margin: 4px;
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight--bold);
}

/* 모바일사이즈 */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-yellow);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  /* .navbar__menu__item {
  } */

  .navbar__menu.open {
    display: block;
  }
}
