@charset "UTF-8";

:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;

  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-dark-gray: #4d4d4d;

  --color-black: #000000;

  --color-yellow: #f5c336;
  --color-dark-yellow: #de9426;
  --color-orange: #fa812b;

  --color-blue: #3660f5;
  --color-red: #f53953;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight*/
  --weight-black: 900;
  --weight--bold: 700;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thin: 100;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-black);
  color: var(--color-black);
  margin: 16px 0;
  /* 위아래/ 양옆 //시계방향*/
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-black);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-black);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
  background-color: var(--color-light-white);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
  box-shadow: none;
}

header {
  height: 8%;
}

.navbar__mobile {
  display: none;
}

.navbar__normal {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  min-height: 60px;
  color: #3d3d3d;
  /* background-color: #fff; */
}

.navbar__normal > .navbar__menu,
.navbar__normal > .navbar__sidemenu {
  display: flex;
}

.navbar__menu__item,
.navbar__sidemenu__item {
  padding: 0 8px;
}

@media screen and (max-width: 768px) {
  .navbar__mobile {
    padding: 20px;
    /* height: 60px; */
    display: flex;
    justify-content: space-between;
    color: #4d4d4d;
  }
  .navbar__normal {
    display: none;
  }
}

/* toggle */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f5c336;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #4d4d4d;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* footer */
* {
  margin: 0;
}
html,
body {
  height: 100%; /*바디 영역 높이값을 100%로 설정*/
}
.wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -100px; /*하단 이미지 세로값만 마이너스 처리 */
}
.footer,
.push {
  height: 100px; /* 하단 이미지 높이 영역 */
  text-align: center;
  background-color: #ccc;
}


/* PC version */
@media screen and (min-width: 768px) {
}

/* mobile version */
@media screen and (max-width: 768px) {
}
