@charset "UTF-8";

:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;

  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-dark-gray: #4d4d4d;

  --color-black: #000000;

  --color-yellow: #f5c336;
  --color-dark-yellow: #de9426;
  --color-orange: #fa812b;

  --color-blue: #3660f5;
  --color-red: #f53953;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight*/
  --weight-black: 900;
  --weight--bold: 700;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thin: 100;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}


/* Universal tags */
* {
	box-sizing: border-box;
}

/* Typography */
h1 {
	font-size: var(--font-large);
	font-weight: var(--weight-black);
	color: var(--color-black);
	margin: 16px 0;
	/* 위아래/ 양옆 //시계방향*/
}

h2 {
	font-size: var(--font-medium);
	font-weight: var(--weight-black);
	color: var(--color-black);
	margin: 8px 0;
}

h3 {
	font-size: var(--font-regular);
	font-weight: var(--weight-black);
	color: var(--color-black);
	margin: 8px 0;
}

p {
	font-size: var(--font-small);
	font-weight: var(--weight-regular);
	color: var(--color-black);
	margin: 4px 0;
}

body {
	margin: 0;
	font-family: "Noto Sans KR", sans-serif;
	cursor: default;
}

nav {
	height: 5em;
	background-color: white;
}

a {
	text-decoration: none;
	color: var(--color-gray);
	cursor: pointer;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}

input {
	border: none;
	box-shadow: none;
}

input:focus {
	background-color: var(--color-light-white);
	outline: none;
}

table {
	border-spacing: 0;
}

tr.line td,
tr.line th {
	border-top: 1px solid #ccc;
}

th.left {
	text-align: left;
}

td.center {
	text-align: center;
}

td.right, th.right {
	text-align: right;
}

select {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	background: url(/views/img/arrow.png) no-repeat 95% 50%;
	/* 화살표 모양의 이미지 */
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
	display: none;
}

span.money::after {
	content: "원";
}

span.cntnt::after {
	content: "개";
}

#notice, #notice__detail, #items, #item__detail, #order, #order__result, #join, #login, #cart, #myPage, #myInfo, #myModi,
	#myOrder, #myReview, #myReview__detail, #myHelp, #myHelp__detail, #findId, #findPwd {
	max-width: 1280px;
	margin: 5em auto;
}

#footer{
	max-width: 1280px;
	margin: 0 auto;
}


/* about, contact */
#about, #contact{
	margin: 3em 0;
	height: 330px;
} 

.about {
	width:250px;
	margin: 0 auto;
}

.contact{
	width: 350px;
	margin: 0 auto;
}

.contact__header{
	margin-bottom: 24px;
}

.contact__img, .contact__header{
	text-align: center;	
}

.about img, .contact__img img{
	width: 250px;
	margin-top: 24px;
}

.contact__cntnt {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 12px 0;
	
}
.contact__cntnt>span {
	display: block;
	font-size: 16px;
	margin-bottom: 8px;
}


/* notice */
.notice__main {
	width: 748px;
	display: flex;
	text-align: center;
	margin: 1em auto;
}

.notice__main table {
	width: 100%;
	/* color: var(--color-light-gray); */
	font-size: 16px;
}

.notice__main th, .notice__main td {
	padding: 6px 4px;
}

.notice__main th:first-child, .notice__main td:first-child {
	width: 20%;
}

.notice__main th:last-child, .notice__main td:last-child {
	width: 20%;
}

.notice__bottom {
	text-align: center;
}



/* my review */
.myReview__main {
	width: 748px;
	display: flex;
	text-align: center;
	margin: 1em auto;
}

.myReview__main table {
	width: 100%;
	/* color: var(--color-light-gray); */
	font-size: 16px;
}

.myReview__main th, .myReview__main td {
	padding: 6px 4px;
}

.myReview__main th:first-child, .myReview__main td:first-child {
	width: 20%;
}

.myReview__main th:last-child, .myReview__main td:last-child {
	width: 20%;
}

.myReview__bottom {
	text-align: center;
}

/* items */
.gallery {
	border: 1px solid #ccc;
}

.gallery:hover {
	border: 1px solid #777;
}

.gallery img {
	width: 100%;
	height: auto;
}

.desc {
	padding: 15px;
	text-align: center;
}

* {
	box-sizing: border-box;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* item detail */
.item__detail__top{
	display:flex;
	justify-content: space-between;
}


.item__detail__title,
.item__detail__amount{
	text-align: right;
}

.item__detail__title{
	font-size: 45px;
	font-weight: var(--weight-black);
	margin-bottom: 12px;
	margin-top:265px;
}

.item__detail__amount{
	font-size: 16px;
	font-weight: var(--weight-bold);
	margin-bottom: 12px;
}

.item__detail__btns {
	text-align: right;
	font-size: 16px;
}

.item__detail__btns input {
	width: 70px;
	margin: 4px;
	background-color: var(--color-light-white);
	border-radius: 4px;
}

.item__detail__btn {
	background-color: var(--color-yellow);
	border-radius: 7px;
	font-size: 14px;
	font-weight: var(--weight--bold);
	height: 28px;
	color: var(--color-dark-gray);
	width: 70px;
	margin:8px 0 8px 8px;
}

.item__detail__btn:hover {
	background-color: var(--color-dark-yellow);
}

.item__detail__cntnt{
	margin: 36px 0;
	text-align: center;
}



/* footer */
.footer {
	color: var(--color-light-gray);
	max-width: 1280px;
	padding: 30px 6px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.footer ul {
	padding: 0;
	margin: 0;
}

.footer li {
	color: var(--color-light-gray);
	padding: 3px 15px;
}

.footer .footer__snslink {
	font-size: var(--font-large);
	vertical-align: top;
}

.footer__copyright {
	color: var(--color-light-gray);
	padding-bottom: 20px;
	text-align: center;
	font-size: var(--font-micro);
}

/* Join, login */
.join, .login, .findId, .findPwd {
	width: 360px;
	margin: 0 auto;
	margin-top: 4em;
}

.order__header, .contact__headr, .notice__header, .join__header, .login__header, .findId__header,.findPwd__header, .cart__header, .myPage__header,
	.myInfo__header, .myHelp__header, .myOrder__header, .myReview__header {
	text-align: center;
	margin-bottom: 24px;
}

.order__header img, .contact__header img, .notice__header img, .join__header img, .login__header img, .findId__header img, .findPwd__header img, .cart__header img,
	.myPage__header img, .myInfo__header img, .myHelp__header img,
	.myOrder__header img, .myReview__header {
	height: 24px;
}

.join__main {
	margin-bottom: 36px;
}

.login__main, .findId__main, .findPwd__main {
	margin-bottom: 24px;
}


.join__box>input, .login__box>input{
	width: 100%;
	border-bottom: 1px solid #aaa;
	display: block;
	margin-top: 16px;
	margin-bottom: 4px;
	padding: 10px 0px;
	font-size: 13px;
}

.join__box>span {
	font-size: 13px;
	color: #aaa;
}

.join__check {
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	color: var(--color-gray);
	margin-bottom: 4px;
}

.join__check>a {
	display: block;
}

.join__agre {
	margin: 24px 0;
}

.join__btns, .findId__btns, .findPwd__btns {
	justify-content: space-between;
	display: flex;
}

.join__btn, .findId__btn, .findPwd__btn {
	display: block;
	background-color: var(--color-yellow);
	border-radius: 10px;
	width: 48%;
	font-size: 16px;
	font-weight: var(--weight--bold);
	height: 35px;
}

.login__btn {
	display: block;
	background-color: var(--color-yellow);
	border-radius: 10px;
	width: 100%;
	font-size: 16px;
	font-weight: var(--weight--bold);
	height: 35px;
	margin-bottom: 12px;
}

.join__btn:hover, .login__btn:hover, .findId__btn:hover, .findPwd__btn:hover {
	background-color: var(--color-dark-yellow);
}

.login__bottom {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

/* find ID */
.findId__box input,
.findPwd__box input{
	width: 80%;
	border-bottom: 1px solid #aaa;
	display: block;
	padding: 10px 0px;
	font-size: 13px;
	margin: 0 auto;

}

.findId__switch{
	display:flex;
	 width:100%;
	 margin-top: 16px;
}

.findId__switch__input{
	  width:50%;
}
.findId__switch__input input[type="radio"] {
  display: none;

 
}

.findId__switch__input input[type="radio"] + span {
  display: inline-block;
  background: none;
  border: 1px solid #ccc;
  padding: 0px 10px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  font-weight: 500;
  cursor: pointer;
  width:100%;
  font-size: 14px;
}

.findId__switch__input input[type="radio"]:checked + span {
  border: 1px solid #ccc;
  background: #ccc;
}

.findId__email,
.findId__phone {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 70px;
  padding: 16px 4px 8px 4px;
}


/* find Pwd */
.findPwd__main{
	padding: 18px 0;
	border: 1px solid #ccc;
}

.findPwd__box input {
	margin-bottom: 10px;
}

/* cart */
.cart__main, .order__main, .order__info {
	width: 768px;
	margin: 0 auto;
}

.cart__main table,
.order__main table
 {
	width: 100%;
}

.cart__main tr>th, .cart__main tr>td,
.order__main tr>th, .order__main tr>td {
	padding: 8px 4px;
}

.cart__btn {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.cart__btn:hover {
	background-color: var(--color-yellow);
	border: 1px solid var(--color-yellow);
}

.cart__item,
.order__item {
	display: flex;
}

.cart__item__wrap,
.order__item__wrap {
	display: flex;
	flex-direction: column;
	margin: auto 0;
}

.cart__item__info,
.order__item__info {
	padding-left: 8px;
}

.cart__bottom {
	display: flex;
	justify-content: center;
}

.cart__btn-order, .cart__btn-shopping {
	display: block;
	background-color: var(--color-yellow);
	border-radius: 10px;
	width: 160px;
	font-size: 14px;
	font-weight: var(--weight--bold);
	height: 32px;
	margin: 20px 4px;
}

.cart__btn-order:hover, .cart__btn-shopping:hover {
	background-color: var(--color-dark-yellow);
}

.cart__empty {
	text-align: center;
	padding: 36px;
}

.cart__empty>i {
	font-size: 100px;
	margin-bottom: 24px;
	color: #eee;
}

.cart__empty>span {
	display: block;
	color: #bbb;
}

/* Order */
.order__main{
	margin-bottom: 48px;
}
.order__info__title{
	display:block;
	text-align: center;
	width: 768px;
	margin:0 auto;
}
.order__info {
	margin-top: 8px;
	display:flex;
	justify-content: space-between;	
}
.order__info span{
	display: block;
	font-size: 16px;
	font-weight: var(--weight--bold);
}

.order__info__address,
.order__info__parchs{
	border: 1px solid #aaa;
}

.order__info__address{
	width:59%;
	padding: 12px;
}

.order__info__right{
	width:39%;
}


.order__info__address input[type="text"]{
	border-bottom: 1px solid #ccc;
	padding: 8px 0;
	font-size: 14px;
	width: 70%;
	
}

.order__info__agre{
	margin-top: 12px;
}
.order__info__address input[type="button"]{
	padding: 8px;
	font-size: 14px;
	width: 26%;	
}

.order__info__parchs{
	display: block;
	padding: 12px;
}

.order__info__bottom{
	display: block;
	width: 200px;
	margin: 18px auto;
}

.order__btn {
	background-color: var(--color-yellow);
	border-radius: 10px;
	width: 200px;
	font-size: 16px;
	font-weight: var(--weight--bold);
	height: 35px;

}

.lorder__btn:hover {
	background-color: var(--color-dark-yellow);
}

/* order result */
.order__result{
	width: 768px;
	margin: 0 auto;
	text-align: center;
}

.order__result__img{
	margin: 54px auto;
	width: 200px;
}

.order__result__cntnt span{
	font-size: 24px;
	font-weight: var(--weight--bold);
}

.order__result__btns{
	margin: 54px auto;
}
.order__result__btn {
	background-color: var(--color-yellow);
	border-radius: 10px;
	width: 150px;
	font-size: 16px;
	font-weight: var(--weight--bold);
	height: 35px;
	margin: 0 4px;

}

.order__result__btn:hover {
	background-color: var(--color-dark-yellow);
}

/* leave */
.leave__input{
	background-color: var(--color-light-white);
	width: 150px;
	border-radius: 4px;
	margin: 12px;
}

.leave__btn {
	background-color: var(--color-yellow);
	border-radius: 10px;
	width: 100px;
	font-size: 14px;
	font-weight: var(--weight--bold);
	height: 30px;
	margin: 0 4px;

}
/* myPage */
.myPage__main {
	max-width: 768px;
	display: flex;
	justify-content: space-around;
	margin: 4em auto;
}

.myPage__main>div {
	text-align: center;
}

.myPage__main>div>div {
	text-align: center;
	width: 160px;
	height: 160px;
	line-height: 160px;
	border: 3px solid #aaa;
	border-radius: 50%;
	font-size: 70px;
	margin-bottom: 12px;
}

.myPage__main i {
	color: #aaa;
	padding: 12px;
}

.myPage__main i:hover {
	color: var(--color-yellow);
	padding: 12px;
	transform: scale(1.1);
}

.myPage__main span {
	display: block;
	font-size: 18px;
	color: var(--color-dark-gray);
}

/* my info */
.myInfo__main {
	width: 250px;
	display: flex;
	margin: 3em auto;
}

.myInfo__main table {
	width: 100%;
	color: var(--color-light-gray);
	font-size: 16px;
}

.myInfo__main td {
	padding: 6px 0;
}

.myInfo__main td.padding {
	padding-left: 12px;
}

.myInfo__main tr>td:first-child {
	width:25%;
}

.myInfo__main tr>td:nth-child(2) {
	color: var(--color-gray);
}

.myInfo__main button {
	margin-top: 32px;
	background-color: var(--color-yellow);
	border-radius: 10px;
	font-size: 14px;
	font-weight: var(--weight--bold);
	height: 32px;
	color: var(--color-gray);
	width: 120px;
}

.myInfo__main button:hover {
	background-color: var(--color-dark-yellow);
}

.myInfo__main a {
	font-size: 12px;
	color: #bbb;
}

/* my Modi */
.myModi__main {
	width: 640px;
	display: flex;
	margin: 3em auto;
}

.myModi__main table {
	width: 100%;
	color: var(--color-light-gray);
	font-size: 16px;
}

.myModi__main td {
	padding: 6px 0;
}

.myModi__main td.padding {
	padding-left: 12px;
}

.myModi__main tr>td:first-child {
	width: 120px;
}

.myModi__main tr>td:nth-child(2) {
	color: var(--color-gray);
}

.myModi__btns {
	width: 640px;
	margin: 0 auto;
	text-align: center;
}

.myModi__btn {
	margin-top: 12px;
	background-color: var(--color-yellow);
	border-radius: 10px;
	font-size: 14px;
	font-weight: var(--weight--bold);
	height: 32px;
	color: var(--color-gray);
	width: 120px;
}

.myModi__btn:hover {
	background-color: var(--color-dark-yellow);
}

.myModi__main input {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 5px;
	display: block;
	font-size: 16px;
}

.myModi__main span {
	font-size: 12px;
}

/* my help */
.myHelp__main {
	width: 748px;
	display: flex;
	text-align: center;
	margin: 1em auto;
}

.myHelp__main table {
	width: 100%;
	/* color: var(--color-light-gray); */
	font-size: 16px;
}

.myHelp__main th, .myHelp__main td {
	padding: 6px 4px;
}

.myHelp__main th:first-child, .myHelp__main td:first-child {
	width: 20%;
}

.myHelp__main th:last-child, .myHelp__main td:last-child {
	width: 20%;
}

.myHelp__bottom {
	text-align: center;
}

.myHelp__btn {
	margin-top: 12px;
	background-color: var(--color-yellow);
	border-radius: 10px;
	font-size: 14px;
	font-weight: var(--weight--bold);
	height: 32px;
	color: var(--color-dark-gray);
	width: 120px;
}

.myHelp__btn:hover {
	background-color: var(--color-dark-yellow);
}

/* my Help detail, notice detail,my Review detail, item detail */
.myHelp__detail, .notice__detail, 
.myReview__detail, .item__detail{
	padding-top:52px;
}

.myHelp__detail__main,
.notice__detail__main,
.myReview__detail__main,
.item__detail__main {
	width: 748px;
	margin: 0 auto;
}

.myHelp__detail__main table,
.notice__detail__main table, 
.myReview__detail__main table {
	width: 100%;
	/* color: var(--color-light-gray); */
	font-size: 16px;
}

.myHelp__detail__main th, .myHelp__detail__main td,
.notice__detail__main th, .notice__detail__main td,
.myReview__detail__main th, .myReview__detail__main td {
	padding: 6px 4px;
}

.myHelp__detail__main th:first-child, .myHelp__detail__main td:first-child,
.notice__detail__main th:first-child, .notice__detail__main td:first-child,
.myReview__detail__main th:first-child, .myReview__detail__main td:first-child {
	width: 15%;
}

.loading {
	text-align: center;
	font-size: 70px;
	padding: 8px 0;  
}

.loading i {
	padding: 12px;
}

.loading__wrap{
	text-align: center;
	color: #aaa;	
}


.myHelp__detail__bottom,
.notice__detail__bottom,
.myReview__detail__bottom{
	text-align: right;
}

.myHelp__detail__btn,
.notice__detail__btn,
.myReview__detail__btn {
	margin-top:32px;
	background-color: var(--color-yellow);
	border-radius: 7px;
	font-size: 14px;
	font-weight: var(--weight--bold);
	height: 28px;
	color: var(--color-dark-gray);
	width: 70px;
	margin-left:4px;
}

.myHelp__detail__btn:hover,
.notice__detail__btn:hover,
.myReview__detail__btn:hover {
	background-color: var(--color-dark-yellow);
}

/* my Order */
.myOrder__main {
	width: 640px;
	margin: 3em auto;
}

.myOrder__filter {
	width: 100%;
}

select#sfilter {
	width: 200px; /* 원하는 너비설정 */
	padding: .8em .5em; /* 여백으로 높이 설정 */
	font-family: inherit; /* 폰트 상속 */
	border: 1px solid #999;
	border-radius: 0px; /* iOS 둥근모서리 제거 */
}

.myOrder__filter>button {
	background-color: var(--color-yellow);
	border-radius: 10px;
	font-size: 14px;
	padding: 4px 28px;
	font-weight: var(--weight--bold);
}

.myOrder__filter>button:hover {
	background-color: var(--color-dark-yellow);
}

.myOrder__list {
	border: 1px solid #ccc;
}

.orderListItemDiv {
	border-top: 1px solid #ccc;
	background-color: var(--color-light-white);
}

/* PC version */
@media screen and (min-width: 768px) {
}

/* mobile version */
@media screen and (max-width: 768px) {
	nav {
		height: 4em;
	}
	.join, .login {
		width: 280px;
	}
}